@import url("//db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi");

body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://wallpapercave.com/wp/wp3357503.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
  
.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    font-family: "Star Jedi";
    font-size: 3.5em;
    color: #f7f749;
    padding-bottom: 10px;
    margin: 0 0 5px;
}
  
.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}
  
.page-logo {
    width: 200px;
}
  
.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}
  
body > img {
    margin: 0 10px;
}
  
img {
    max-height: 250px;
}
  